# SQL Query

- DB 내용 
    - Customers	
        - CustomerID
        - CustomerName
        - ContactName
        - Address
        - City
        - PostalCode
        - Country
SELECT * FROM Customer;
- 모든 Cusotmer의 행을 select해서 보여주는 것이다.

SELECT CoustomerID FROM Coustomer;

- Customer DB에서 Customer행만을  선택하여 보여준다.  

SELECT * FROM Customer ORDER BY CustomerID ASC;

- CustomerID를 오름차순으로 정렬하여 보여준다

SELECT DISTINCT * FROM Customer;

- Customer DB를 중복을 제거하여 보여준다.

- 별칭
 - CustomerName AS 회원;
   - 회원이름이라고 이름이 바뀌어진다.

SELECT CustomerID AS 회원번호, CustomerName AS 회원이름 
FROM Customers 
ORDER BY CustomerName ASC;

- 별칭을 as로 하여 정할 수 있다.

SELECT CustomerID+100 FROM Customers;

- 산술연산이 가능하다(int형 컬럼에만 가능)

"||"으로 컬럼을 합치는것이 가능하다.

- 논리 연산이 가능하다.
    - Ture and False = False
    - True or False = True
    - not True = False
    - not False = True

- 실제 쓰임
    - SELECT 1 AND 2; -> 2
    - SELECT 0 OR 0; -> 0
- SELECT * FROM Customers WHERE CustomerID BETWEEN 30 AND 50;
    - 내가 선택한것 중에 조건을 달아서 검색(여기서는 30부터 50까지만 검색)

- IN연산자
    - SLECT * FROM Customers WHERE CustomerID IN(10,20,30)
        - ID가 10,20,30 인 것만 검색

- LIKE 연산자
    - SELECT * FROM Customers WHERE CustomerID LIKE '1';
        - ID에 1인것만 검색
    - SELECT * FROM Customers WHERE CustomerID LIKE '1_';
        - ID에 1*(11,12,13...)인것을 검색
    - SELECT * FROM Customers WHERE CustomerID LIKE '_1';
        - ID에 *1(11,21,31)인것을 검색
    - SELECT * FROM Customers WHERE CustomerID LIKE '1%';
        - ID에 1다음에 오는 문자열을 모두 검색
        - "%1"이라면 1 전에 오는 모든 문자열을 검색
        - "_"라면 한글자(문자) 만 올 수 있음

- IS NULL(데이터가 비어있는 모든것을 다 검색)

- SQL 비트연산
    - SELECT 1 & 0 -> 0
    - SELECT 1 & 1 -> 1
    - SELECT 5 | 7 -> 7
    - SELECT 5 & 7 -> 5

- WHERE절 비교연산자
    - SELECT CustomerID FROM Customers WHERE CustomerID >80;
        - CustomerID가 80을 초과한 것만 검색
    - SELECT CustomerID FROM Customers WHERE CustomerID =80;
        - CustomerID가 80인 것만 출력
    - SELECT * FROM Customers WHERE CustomerID>=50 AND City = 'London'
        - Customers에서 CustomerID가 50이상인 것중에 City가 London인것만 출력
    - SELECT * FROM Customers WHERE CustomerID>=50 OR City = "London"
        - Customers에서 CustomerID가 50이상인것과 City가 London인것을 출력

- 값을 바꾸는 행위 UPDATE
    - UPDATE Customers
    - SET CustomerName = "하르방", City ="한라산", Country ="선계"
    - WEHRE CustomerID = 1;
- UPDATE구문을 사용하면 값을 더이상 원래대로 돌릴 수 없다.

- 값을 지우는 행위 DEL
    - DELETE FROM Customers WHERE Country="Germany"
        - Country가 Germany인 Customer가 삭제됨

- TOP구문
    - SELECT TOP 10 * FROM Customers;
        - 위의 10개만 가져온다.
    - SELECT TOP 10 % * FROM Customers;
        - 위의 10%만 가져온다.
- LIMIT구문
    - SELECT * FROM Customers LIMIT 10;
        - 끝의 10개를 가져온다.

- mysql> SHOW database;
- mysql> SHOW tables;
- mysql> DESC table_name;

# SQL  Function

- SELECT CustomerID, CustomerName,
- LOWER(Customers) AS 소문자,
- UPPER(Customers) AS 대문자
- FROM Customers;

- SELECT UPPER('Hello World')

- SUBSTR : 문자열 슬라이싱
    - SELECT SUBSTR("Hello World",1,5)
        - 문자열을 슬라이싱하여 1부터 5번 문자까지 가져옴
        - "-"를 사용하면 반대서부터 문자열을 읽음
- COUNT : 문자열 세기
    - SELECT COUNT("hello World);
        - 문자열의 길이를 알려줌

- REPLACE : 문자열 교체
    - SELECT REPLACE('hello world','world',"SQL")
        - world가 SQL로 교체된다.
        
- CONCAT : 문자열 합치기
    - SELECT CONCAT("hello","SQL")
        - hello SQL이 출력됨

# SQL 조건문

- SELECT CASE WHEN "GOOD" = "JOB" THEN "HELLO" ELSE "WORLD" END;
    - good과 job이 같다면 hello 아니면 world